Package: daasxpertclient
Version: {xxx}
Depends: mono-complete, freerdp2-x11, virt-viewer, gtk-sharp2, libcanberra-gtk-module, usbutils
Suggests:
Section:devel
Priority: optional
Architecture: all
Maintainer: CROSSENT <crossent@crossent.com>
Description: VDI Client Software resident on DaasXpert VM

