Package: daasxpertclient
Version: {xxx}
Pre-Depends: apt-transport-https, dirmngr
Depends: mono-complete, virt-viewer, gtk-sharp2, libcanberra-gtk-module, usbutils
Suggests:
Section:devel
Priority: optional
Architecture: all
Maintainer: CROSSENT <crossent@crossent.com>
Description: VDI Client Software resident on DaasXpert VM

