<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

    <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <appSettings>
    <!-- 기본 언어 (특정 설정이 없으면 시스템 기본 설정, [en-US, ko-KR, etc.])-->
    <add key="Language" value=""/>
    <!-- 인터페이스 포트 -->
    <add key="InterfacePort" value="4001"/>
    <!-- Test 인터페이스 포트 ( 인터페이스 포트 + 1 ) -->
    <add key="TestInterfacePort" value="false"/>
    <!-- VDI포트 -->
    <add key="VDIPort" value="3300"/>
    <!-- Https key info. -->
    <add key="SSLKeyFile" value="HCVKAService.pfx"/>
    <add key="SSLKeyPass" value="Z2tkbHZqITEy"/>
  </appSettings>

</configuration>
